h1 {
	letter-spacing: 7px;
	text-align: center;
    color: white;
}
h3 {
    text-align: center;
    letter-spacing: 4px;
    color: #ffffff;
}
h4, h2, p {
    text-align: center;
}
body {
    font-size: 28px;
}
.row {
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-left: 200px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
li {
    float: left;
    background-color: #000000;
    border-right: 1px solid grey;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
li a:hover {
    background-color: white;
    text-decoration: none;
    color: #000000;
}
.active {
    background-color: #000000;
}
div.gallery {
    border: 1px solid #ffffff;
}
div.gallery:hover {
    border: 1px solid blue;
}

div.gallery img {
    width: 100%;
    height: 400px;
}
div.desc {
    text-align: center;
    font-size: 25px;
    font-style: bold;
}
p {
    display: none;
}
.responsive {
    padding: 20px;
    float: left;
    width: 50%;   
}
#bone {
    margin-left: 650px;
    background-color: #c4960d;
    border: none;
    color: white;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
body, html {
    height: 100%;
    margin: 0;
}
.hero-image {
  background-image: url("wol.jpg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
